﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Login.aspx.cs" Inherits="Login" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Login Karyawan</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <div class="konten">
        <div class="kepala">
            <div class="lock"></div>
            <h2 class="judul">Sign In</h2>
        </div>
        <div class="artikel">
 <div class="grup">
                    <label for="email">Username</label>
<td><asp:TextBox ID="t1" runat="server"  ></asp:TextBox></td>
</div>
<div class="grup">
                    <label for="password">Password</label>
<td><asp:TextBox ID="t2" runat="server" TextMode="Password" ></asp:TextBox></td>
</div>

<div class="grup">
       <asp:Button ID="Button1" runat="server" Text="Login" OnClick="Button1_Click"  />
</div>
<tr>
<td colspan="2">
    <asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
</td>
</tr>
</table>    
    </div>
    </form>
</body>
</html>
